@model List<Kategoriler>
<div id="sidebar" class="span3">

    <ul id="sideManu" class="nav nav-tabs nav-stacked">
   
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(linkText: item.KategoriAd, actionName: "urunler", controllerName: "home", routeValues: new { kategoriId = item.KategoriId })

            </li>

        }

            

    </ul>
    <br />

</div>