
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yetkisiz Giriş</title>
  
    <link href="~/themes/css/style.css" rel="stylesheet" />
</head>
<body>
    
    <div id="login-form-wrap">
        <h1>Yetkisiz Giriş</h1>



    </div>


</body>
</html>
